<div class="navigationBtn">
  <span class="searchBtn uiShow menuItem" data-elm="search">
    <object data="images/search.svg" width="26px" height="26px" type="image/svg+xml" class="icon gray">
      <!-- backup image -->
    </object>
  </span><span class="categoriesBtn menuItem" data-elm="categories">Toutes les catégories</span>
</div>

<div class="search uiShow menuContent">
  <form class="search_form">
    <input type="text" name="search" class="searchInput" id="search" />
  </form>
</div>
<ul id="suggestions" class="suggestList"></ul>

<ul class="categories menuContent">
  <li class="category"><a href="#navigation/Livres/1/ALL">Livres</a></li>
  <li class="category"><a href="#navigation/Musique/1/ALL">Musique</a></li>
  <li class="category"><a href="#navigation/Video/1/ALL">DVD Blu-ray</a></li>
  <li class="category"><a href="#navigation/Jeux-Video-et-Consoles/1/ALL">Jeux vidéos, consoles</a></li>
  <li class="category"><a href="#navigation/Tel-PDA/1/ALL">Téléphonie, tablettes</a></li>
  <li class="category"><a href="#navigation/Informatique/1/ALL">Informatique</a></li>
  <li class="category"><a href="#navigation/Hifi/1/ALL">Image, son</a></li>
  <li class="category"><a href="#navigation/Loisirs/1/ALL">Sports, loisirs</a></li>
  <li class="category"><a href="#navigation/Maison/1/ALL">Maison</a></li>
  <li class="category"><a href="#navigation/Mode/1/ALL">Mode</a></li>
  <li class="category"><a href="#navigation/Enfant/1/ALL">Jouets, enfants</a></li>
  <li class="category"><a href="#navigation/Art-Collection/1/ALL">Art, collection</a></li>
</ul>